/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
*,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-weight: 300;
  height: 100vh;
  background-color: #f9f4de;
}
