@import "../../borders.scss";

.container {
  @extend .grey-border;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

.image-description {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
}

.description {
  min-width: 300px;
  width: 800px;
  font-size: 1.5rem;
}

.add-button {
  display: flex;
  gap: 1rem;
  margin-right: 100px;
  justify-content: flex-end;
  input {
    width: 150px;
  }
}

img {
  width: 400px;
  margin-left: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards-list {
  display: flex;
  justify-content: space-evenly;
}

.use-orange {
  @extend .orange-border;
}

.use-blue {
  @extend .blue-border;
}
