<div class="container" [ngClass]="{'use-orange': useOrange(), 'use-blue': useBlue()}">
  <div class="title">
    <p>{{title}}</p>
    <p>{{subtitle}}</p>
  </div>

  <main>
    <section class="image-description">
      <img src="../../assets/icons/headphones.png">
      <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit debitis molestiae
        ratione, vel provident perspiciatis? Magni alias sit dolorem iste ipsam nemo quisquam, dicta pariatur itaque,
        odit eaque fugiat dolor.
      </p>
    </section>

    <section class="add-button">
      <p>Quantity</p>
      <input type="number" [(ngModel)]="quantity">
      <button (click)="addItem()">Add to cart</button>
    </section>

    <section class="cards">
      <h1>Recommended products</h1>
      <div class="cards-list">
        @defer (hydrate on interaction) {
        <app-card [img]="'../../assets/icons/hat.png'" (itemAdded)="addRecommendedItem($event)"></app-card>
        }
        @defer (hydrate on interaction) {
        <app-card [img]="'../../assets/icons/shoe.png'" (itemAdded)="addRecommendedItem($event)"></app-card>
        }
      </div>
    </section>
  </main>

</div>